/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');


main div.image-container {
    text-align: left;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

main div.image-container img,
main div.image-container video {
    width: 100%;
    margin-right: 20px;
    max-width: 50%; /* Ensures that two images/videos do not overlap */
}

main div.image-container:last-child {
    margin-bottom: 20px;
}
/* Header */
header {
    background-color: rgb(217, 217, 235);
    
}
h1 {font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ab012c;
    text-align: center;
}
h4 {font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #ab012c;
    text-align: center;
}
#menu {
    font-family: 'Oswald', sans-serif;
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    text-align: center;}

h2 {font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: #093269;
    text-align: center;
}

div {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #093269;
    text-align: center;
}




/* Main */
main {
    font-family: 'Lato', sans-serif;
    background-color: rgb(230, 223, 224);
}


h5 {
    font-family: 'Lato', sans-serif;
    text-align: left;
}


p{
    font-family: 'Lato', sans-serif;
    text-align: left;
}
ul {
    font-family: 'Lato', sans-serif;
    text-align: left;
}

/* Footer */
footer {
    background-color: rgb(174, 216, 252);
}

form
{
    text-align: right;
}

h3 {font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: #ab012c;
    text-align: right;
}
label {
    font-family: 'Oswald', sans-serif;
}